@page
@model SRS.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-sm-6">
            <div class="box-header with-border">
                <h3 class="box-title">Accounts</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>User Name</th>
                            <th>Role</th>
                            <th>&nbsp;</th>
                        </tr>
                        @foreach (var account in Model.Accounts)
                        {
                            <tr>
                                <td>@account.Email</td>
                                <td>@account.Role</td>
                                <td><a asp-page="Edit" asp-route-id="@account.Id" class="btn btn-sm btn-success">Edit</a></td>                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <a asp-page="Create" class="btn btn-sm btn-primary">Create</a>
            </div>
        </div>
    </div>
</section>
