.refNoRef {padding:10px 20px 10px 25px}
.refSubHdr {padding:1px 1px 5px 25px}
.refSubPad {padding-left: 215px; height:3px}
.refSubPadWide {padding-left: 415px; height:3px}
.refSecLeft {padding-left: 19px}
.refNew {padding-top:1px; padding-right:0px; padding-bottom:5px; padding-left:25px; height:22px}
.refOpt {padding-left:10px; height:22px}
.refPad {padding-left:250px}
.refPad2 {padding-left:450px}
.refTabLeft {padding-left:25px}
.refBtnLeft {padding-left:250px; padding-top:5px}
.refBtnPad {padding-left:5px}
.refHdrLeft {padding-left:22px}
.refRowLeft {padding-left:22px; padding-right:3px; height:20px}
.refRowDel {padding-left:0px; padding-right:3px; height:20px}
.refColPad {padding-left:15px}
.refRight {padding-left:10px}

.refHdrA {padding-left:25px}
.refHdrB {padding-left:12px}
.refHdrC {padding-left:13px}
.refHdrD {padding-left:165px}
.refHdrDWide {padding-left:365px}
.refHdrE {padding-left:209px}
.refHdrF {height:12px}
.refHdrG {padding-left:215px}
